.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.popup-content{
    width:65% !important;
    height:90% !important;
    background-color: transparent !important;
    border: none !important;
}
.full-image{
    height: 100%;
    width: 93%;
    margin: 0 5px;
}

.popupStyle {
    display: flex;
    justify-content: space-around;
}

.downImage {
    position: absolute;
    z-index: 100;
}

.downImage path {
    fill: white;
}

@media screen and (max-width:1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
        
        grid-auto-rows: minmax(100px, auto);
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: max-content;
    }
}

@media screen and (max-width:956px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
        grid-auto-rows: minmax(100px, auto);
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: max-content;
    }
}

@media screen and (max-width:700px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        padding-left: 10%;
        float: center;
        grid-auto-rows: minmax(100px, auto);
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: max-content;
    }
    .popup-content{
        width:90% !important;
        height:50% !important;
        background-color: transparent !important;
        border: none !important;
    }
    .full-image{
        height: 80%;
        width: 87%;
        margin: 0 5px;
    }
    
}

@media screen and (max-width:500px) {
    .wrapper {
        display: grid;
        padding-left: 20%;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
        grid-auto-rows: minmax(100px, auto);
        padding-left: 25%;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: max-content;
    }
    .popup-content{
        width:80% !important;
        height:50% !important;
        background-color: transparent !important;
        border: none !important;
    }
    .full-image{
        height: 50% ;
        width: 84% !important;
        margin: 0 5px;
    }
    
}

@media screen and (max-width:1500px){
    .popup-content{
        width:65% !important;
        height:80% !important;
        background-color: transparent !important;
        border: none !important;
    }
    .full-image{
        height: 100%;
        width: 93%;
        margin: 0 5px;
    }
    
}

@media screen and (max-width:1050px){
    .popup-content{
        width:90% !important;
        height:70% !important;
        background-color: transparent !important;
        border: none !important;
    }
    .full-image{
        height: 100%;
        width: 93%;
        margin: 0 5px;
    }
    
}

@media screen and (max-width: 760px){
    .popup-content{
        width:90% !important;
        height:70% !important;
        background-color: transparent !important;
        border: none !important;
    }
    .full-image{
        height: 100%;
        width: 87%;
        margin: 0 5px;
    }
    
}